#buttonLeaveSession {
    position: fixed;
    right: 10px;
    top: 60px;
    width: 290px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: #4d4d4d;
}

.controlPanel > .changeToRound {
    background: #4d4d4d url('/resources/images/round.svg') no-repeat center/80%;
    width: 10vh;
    height: 10vh;
    left: 10vh;
    bottom: 0;
    position: fixed;
    z-index: 2;
    border: 1vh solid lightgreen;
    border-radius: 50%;
}

.controlPanel > .changeToNormal {
    background: rgba(1, 1, 1, 0.0) url('/resources/images/close.svg') no-repeat center/80%;
    position: fixed;
    left: 17vh;
    bottom: 7vh;
    width: 4vh;
    height: 4vh;
    opacity: 0.3;
    z-index: 3;
    border: 0.5vh solid red;
    border-radius: 50%;
}

.controlPanel > .changeToNormal:hover {
    opacity: 1;
}